<% include ../partials/header %>

<div class="container">

    <div class="card">
        <div class="card-content">
            <span class="card-title">
                <h4 style="text-align: center">Edit <%=plant.plantName%></h4>
            </span>
            <div class="row">
                <form action="/gardens/<%= garden_id %>/plants/<%= plant._id %>?_method=PUT" method="POST">
                    <div class="row">
                        <div class="input-field">
                            <input type="text" name="plant[plantName]" value="<%= plant.plantName %>">
                        </div>    
                    </div>
                    
                    <button class="waves-effect waves-light btn green darken-4"><i class="material-icons left">local_florist</i>Save</button>
                    
                </form>   
            </div>
        </div>
    </div>

    <div class="row">
        <a class="waves-effect waves-green btn-flat" href="/gardens/<%= garden_id%>"><i class="material-icons">arrow_back</i></a>
    </div>
</div>

<% include ../partials/footer %>